/* Main Text Headings  - Used in Homepage/Members/Performances/Join/Contact */
.headingsText{
  text-align: center;
  font-size: 5.5vw;
  font-family: 'Mukta';
  color: black;
}

/* Wrapper For Image Carousels - Used in Homepage/Members */
.carouselWrapper{
  position: relative;
  left: 15%;
  width: 70%;
  border: 0.075em solid rgb(75,0,0);
}

/* Wrappers For Main Images - Used in Members/Join */
.membersJoinWrapper{
  margin-left: 10%;
  width: 80%;
  font-family: 'Mukta';
  border: 0.075em solid rgb(75,0,0);
}

/* App */
#bigCon{
  border: .25em solid rgb(75,0,0);
}

/* Navbar */
.text-dark{
  font-size: 90%;
  font-family: 'Mukta';
}

/* Homepage */
.imageWrapper{
  width: 100%;
}

.aboutContainer{
  display: inline-block;
  margin-left: 15%;
  width: 70%; 
  font-size: 110%;
  text-align: left;
  font-family: 'Mukta';
}

/* Members */
.membersClassesNames{
  text-align: center;
  font-size: 1.5vw;
}

.membersClasses{
  text-align: center;
  font-size: 2vw;
  text-decoration: underline;
}

.overlay{
  text-align: center;
  font-family: 'Mukta';
  margin-bottom: 0;
  font-size: 2.5vw;
  color:black;
  background-color: white;
}

/* Performances */
#vidContainer{
  text-align: center;
  font-size: 2vw;
}

.borderWrap{
  border: 0.075em solid rgb(75,0,0);
  margin-left: 15%;
  width: 70%; 
}

.videos{
  display: flex;
  justify-content: center;
}

/* Join */
.tryoutsText{
  text-align: center;
  font-size: 3vw;
}

/* Contact */
.contactForm{
  margin-left: 15%;
  width: 70%;
  font-family: 'Mukta';
}

#contactText{
  font-family: 'Mukta';
  font-size: 125%;
}

/* footer */
.card-body{
  color: black;
}


/* .caption {
  width: 100%;
  position: absolute;
  font-family: 'Mukta';
  top: 18vw;
  left: 50%;
  font-size: 7.2vw;
  transform: translate( -50%, -50% );
  text-align: center;
  color: white;
  font-weight: 300;
}

.motto {
  position: absolute;
  font-family: 'Mukta';
  top: 25vw;
  left: 50%;
  font-size: 2.5vw;
  transform: translate( -50%, -50% );
  text-align: center;
  color: white;
  font-weight: 300;
} */